@model IEnumerable<Vidly.Models.Customer>

@{
    ViewBag.Title = "Customer Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    @Html.ActionLink("+", "New", "Customer", null, new { @class = "btn btn-primary float-md-right" })

@if (!Model.Any())
{
    <p>No Customers Present</p>
}
else
{
    <table class="table table-bordered table-hover">


        <thead>
            <tr>
                <th>Customer</th>
                <th>Discount Rate</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model)
            {

                <tr>
                    <td>@Html.ActionLink(customer.Name, "Edit", "Customer", new { ID = customer.ID }, null)</td>
                    <td>@customer.MembershipType.DiscountRate %</td>
                </tr>
            }
        </tbody>


    </table>
}
