@model IEnumerable<Vidly.Models.Customer>

@{
    ViewBag.Title = "Customer Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.ActionLink("+", "New", "Customer", null, new { @class = "btn btn-primary float-md-right" })


<table ID="Customers" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Membership Type</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var customer in Model)
            {

                <tr>
                    <td>@Html.ActionLink(customer.Name, "Edit", "Customer", new { ID = customer.ID }, null)</td>
                    <td>@customer.MembershipType.Name</td>
                    <td>
                        <button data-customer-id="@customer.ID" class="btn btn-primary js-delete">Delete</button>
                    </td>
                </tr>
            }*@
    </tbody>
</table>




@section scripts
{
    <script>

        $(document).ready(
            function() {
               var table =  $("#Customers").DataTable({
                    ajax: {
                        url: "/api/Customers",
                        dataSrc: ""
                    },
                    columns: [
                        {
                            data: "name",
                            render: function(data, type, customer) {
                                return "<a href = '/customer/edit/" + customer.id + "'>" + customer.name + "</a>";
                            }
                        },
                        {
                            data: "membershipType.name",
                        },
                        {
                            data: "id",
                            render : function(data) {
                                return "<button class='btn-link js-delete' data-customer-id=" + data + ">Delete</button>";
                            }
                        }
                    ],
               });

                $("#Customers").on("click",
                    ".js-delete",
                    function() {
                        var button = $(this);
                        bootbox.confirm("Are you sure you want to delete this customer?",
                            function(result) {
                                if (result) {
                                    $.ajax({
                                        url: "/api/customers/" + button.attr("data-customer-id"),
                                        method: "DELETE",
                                        success: function () {
                                            table.row(button.parents("tr")).remove().draw();
                                        }
                                    })
                                }
                            });
                    })
            });

    </script>
    <style>
        .row {
            width: 100% !important;
        }
    </style>
}
